@font-face {
    font-family: "Orbitron";
    src: url("../../assets/fonts/Orbitron/static/Orbitron-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Raleway";
    src: url("../../assets/fonts/Raleway/static/Raleway-Light.ttf") format("truetype");
    font-weight: lighter;
}

@font-face {
    font-family: "Nunito";
    src: url("../../assets/fonts/Nunito/static/Nunito-Regular.ttf") format("truetype");
    font-weight: 400;
}

:root {
    --primary-font: "Orbitron";
    --secondary-font: "Raleway";
    --text-font: "Nunito";
}

html {
    font-family: var(--text-font), sans-serif;
    font-weight: 400;
}